<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Lista PQR</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listaPQR" id="pqrs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{pqr.titulo.lista}]]</h4>
                            </div>
                            <a type="button" class="btn btn-warning btn-sm" th:href="@{/addpqr}">Crear nueva PQR</a>

                            <div th:if="${pqrs != null and !pqrs.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th th:text="#{pqr.numeral}">id</th>
                                            <th th:text="#{pqr.tipo}">Tipo de PQR</th>
                                            <th th:text="#{pqr.asunto}">asunto</th>
                                            <th th:text="#{pqr.id.usuario}">id</th>
                                            <th th:text="#{pqr.estado}">estado</th>
                                            <th th:text="#{pqr.fecha.creacion}">fecha</th>
                                            <th th:text="#{pqr.fecha.limite}">limit</th>
                                            <th th:text="#{pqr.editar}">Editar</th>
                                            <th th:text="#{pqr.eliminar}">Eliminar</th>

                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="pqr : ${pqrs}">

                                            <td>[[${pqr.idPqr}]]</td>
                                            <td>[[${pqr.tipo}]]</td>
                                            <td>[[${pqr.asunto}]]</td>
                                            <td>[[${pqr.idUsuario}]]</td>
                                            <td>[[${pqr.estado}]]</td>
                                            <td >[[${pqr.fechacreacion}]]</td>
                                            <td>[[${pqr.fechalimite}]]</td>


                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editar/} + ${pqr.idPqr}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminar(idPersona=${pqr.idPqr})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${pqrs == null or pqrs.empty}">
                                <span th:text="#{pqr.lista.vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>


                        <div class="card text-center bg-success text-white mb-5">
                            <div class="card-body">
                                <h3 th:text="#{pqr.total.pqrs}">Total pqrs</h3>
                                <h4 class="display-1">
                                    <i class="fas fa-users"></i> [[${totalPQR}]]
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
